body{
  margin: 0;
  font: 14px Helvetica, Arial;
}

.createUser{
  margin: 0;
  padding-top: 60px;
  padding-left: 30px;
  font-size: 24px;
  font-weight: bold;
}

.user_signup{
  padding-top: 40px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  border: solid #343a51 2px;
  border-radius: 10px;
}

.signupForm{
  margin: 0 auto;
  margin-right: 0;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  text-align: center;
}



.deBtns{
  margin-left: 50px;
  margin-top: 50px;
}

.deBtns a{
  background-color: #141414;
  border: solid white 1px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-decoration:none;
}

.deBtn a:hover{
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  cursor:pointer;
}


.delPage{
  margin: 0;
  padding-top: 60px;
  padding-left: 30px;
  color: white;
  font-size: 24px;
}

.editPage{
  margin: 0;
  padding-top: 60px;
  padding-left: 30px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.list{
  width: 500px;
margin: 0 auto;
margin-top: 100px;
background-color: #dee3e5;
padding: 8px;
border: solid #343a51 0.5px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.list h3{
  margin: 0;
  margin-left: 0;
  float: left;
}

.list a{
  margin: 0;
  float: right;
  text-decoration: none;
  padding: 7px;
  color: white;
  background-color: #343a51;
  border-radius: 5px;
  transition: 0.2s;
}

.list a:hover{
  color: #dee3e5;
}

.editForm{
  margin: 0 auto;
  margin-right: 0;
  width: 100%;
  height: 100%;
  margin-top: 15px;
  /* text-align: center; */
}


.userLabels{
  color: black;
  font: 14px Helvetica, Arial;
}

.editLabels{
  color: black;
  font: 14px Helvetica, Arial;
  float: left;
  margin-left: 25px;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 20px;
}

.editInput{
  float: right;
  margin-right: 25px;
  border-radius: 5px;
  margin-top: 20px;
  opacity: 1;
}

.addInput{
  margin-top: 12px;
  float: right;
  margin-right: 25px;
  opacity: 1;
}

.addCover{
  margin-top: 12px;
  float: right;
  margin-right: -65px;
  opacity: 1;
  color: white;
}
.addCover input{
  margin: 0 auto;
  display: block;
  height: 35px;
  width: 100px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  background-color: #2d2d2d;
  color: white;
  padding: 7px;
  transition: 0.2s;
  cursor:pointer;
  opacity: 1;
}

.addLabels{
  color: white;
  font: 14px Helvetica, Arial;
  float: left;
  margin-left: 25px;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 12px;
}

.genList{
  border-radius: 0px;
  margin-right: 25px;
  display: block;
  margin-top: 15px;
  float: right;
}


.btnTwo{
margin: 0 auto;
display: block;
height: 35px;
width: 100px;
font-size: 14px;
font-weight: bold;
margin-top: 50px;
background-color: #2d2d2d;
color: white;
padding: 7px;
transition: 0.2s;
cursor:pointer;
opacity: 1;
}

.btnTwo a:hover{
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  cursor:pointer;
}


.editDiv{
  padding-top: 40px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #dee3e5;
  border: solid #343a51 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#saveUser{
  margin-top: 30px;
  float: left;
  margin-left: 25px;
  font-size: 1.17em;
  font-weight: bold;
  background-color: #343a51;
  color: white;
  padding: 7px;
  border-radius: 5px;
  transition: 0.2s;
  cursor:pointer;
}

#saveUser:hover{
  color: #dee3e5;

}


#createUser{
  margin-top: 10px;
  float: left;
  margin-left: 25px;
  font-size: 1em;
  font-weight: bold;
  background-color: #343a51;
  color: white;
  padding: 7px;
  border-radius: 5px;
  transition: 0.2s;
  cursor:pointer;
}


.lvl{
  margin-top: 25px;
  float: right;
  margin-right: 25px;
}

.random{
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: white;
}

.loginBody{
background-image: url(../images/avengers_bg.png) ;
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: #2d2d2d;

}


.panel{
  /* padding-top: 40px; */
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
  /* border-radius: 10px; */
  background-color: #3d3d3d;
  opacity: 0.8;
  border: solid white 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.panelTwo{
  /* padding-top: 40px; */
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
  /* border-radius: 10px; */
  background-color: #3d3d3d;
  opacity: 0.8;
  border: solid white 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.editLabels{
  color: white;
  font:Helvetica, Arial;
  float: left;
  /* padding-top: 10px; */
  margin-left: 25px;
  font-size: 1.17em;
  font-weight: bold;
  opacity: 1;
}

#partOne{
  padding-top: 40px;
}

#partTwo{
  padding-top: 60px;
}

.editInput{
  float: right;
  margin-right: 25px;
  padding: 3px;
  border-radius: 0;
  opacity: 0.8;
  /* border-radius: 5px; */
}

.btn{
margin: 0 auto;
display: block;
height: 35px;
width: 100px;
font-size: 14px;
font-weight: bold;
margin-top: 80px;
background-color: #2d2d2d;
color: white;
padding: 7px;
transition: 0.2s;
cursor:pointer;
opacity: 1;
}

.btn:hover{
  background-color: white;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  cursor:pointer;
}

.lastLogin{
  margin: 0;
  margin-left: 15px;
  padding-top: 30px;
  color: black;
  opacity: 1;
}

#back{
  color: white;
  text-align: center;
  margin-top: 40px;
  transition: 0.2s;
}

#back:hover{
  color: black;
}

.TimeStamp{
  margin: 0;
  padding-left: 30px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  font-style: italic;
}

.timeMsg{
  margin: 0;
  /* font-size: 12px; */
  color: black;
  font-weight: bold;
  padding-top: 60px;
  padding-left: 30px;

}

.posters {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: white;
  font-family: Helvetica;

}
  .adminposters .movies li {
    width: 260px;
    height: 520px;
    overflow-x: hidden;
    overflow-y: hidden;
    float: left;
    margin-top: 20px;
    padding: 30px;
    list-style: none;
  }

  .delete  {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 110px;
    transition: 0.2s;
  }

  .delete:hover {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: 110px;
  }

  .adminposters .movies h2 {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 15px;
    color: black;
  }

  .adminposters .movies p {
    font-size: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
    color: black;
  }

  .adminposters .movies img {
    width: 260px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    border: solid white 1.5px;
    transition: 0.2s;
  }

  .adminposters .movies img:hover{
    opacity: 0.2;
  }

  .mov{
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    margin-top: 50px;
  }

  .edit{
    text-align: center;
    font-size: 24px;
    font-weight:bold;
    margin-top: 50px;
  }

  .editInfo{
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    margin-top: 30px;
  }
